@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply scroll-smooth;
	}

	body {
		@apply font-airbnbcereal font-normal;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-extrabold mb-2;
	}

	h1 {
		@apply text-5xl;
	}

	h2 {
		@apply text-3xl;
	}

	h3 {
		@apply text-xl;
	}

	a {
		@apply transition-colors;
	}
}

@layer components {
	.cardboard {
		@apply bg-black-2 p-8 shadow-[0px_0.125rem_0.25rem_0.125rem_#0000001A];
	}

  .cardboard-para {
    @apply text-sm text-black-1 leading-[1.25rem];
  }

  .cardboard-link-head {
    @apply text-base font-normal;
  }
  
	.cardboard-link {
    @apply flex items-center justify-start gap-3.5 hover:underline hover:opacity-70 max-w-max transition-all scale-100 hover:scale-[1.02];
  }

	.cardboard-link-arrow {
    @apply size-3.5;
  }
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
